<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.learning">

    <uses-sdk tools:overrideLibrary="com.pierfrancescosoffritti.androidyoutubeplayer" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/alphabet_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learning"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".controller.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".controller.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".controller.ExerciceActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".controller.LearnActivity"
            android:exported="false" />
        <activity
            android:name=".controller.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Learning.NoActionBar">
        </activity>

        <receiver android:name=".utils.ReminderBroadcast" />
    </application>

</manifest>